<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/bootstrap.min.css') }}">
</head>
<body>
    {% block content %}
    {% endblock content %}
    <script src="{{url_for('static', path='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', path='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', path='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', path='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', path='js/main.js')}}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>