{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>Welcome to fast Chat</h4>
    <p>Select Dataset file</p>
    <form id="file_upload" enctype="multipart/form-data">
        <label for="file">File</label>
        <input id="file" name="file" type="file" />
        <button type="submit" class="btn btn-info">Upload</button>
    </form>
</div>
{% endblock content %}
{% block script %}
<script>
    $(document).ready(function(){
        $('#file_upload').on('submit', (event) => {
            event.preventDefault();
            
            const formData = new FormData($('#file_upload')[0]);
            $.ajax({
                url: '/uploadfile',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: (data) => console.log(data),
                error: (error) => console.error(error)
            });
        });
    });
</script>
{% endblock script %}
